struct singleton=true {
	object "EnemyAI" "sys:optional" {
		ref "Item" "eh:objects/ai/behavior_tree"
	}
	object "AutopilotAI" "sys:optional" {
		ref "Item" "eh:objects/ai/behavior_tree"
	}
	object "CloneAI" "sys:optional" {
		ref "Item" "eh:objects/ai/behavior_tree"
	}
	object "DefensiveDroneAI" "sys:optional" {
		ref "Item" "eh:objects/ai/behavior_tree"
	}
	object "OffensiveDroneAI" "sys:optional" {
		ref "Item" "eh:objects/ai/behavior_tree"
	}
	object "StarbaseAI" "sys:optional" {
		ref "Item" "eh:objects/ai/behavior_tree"
	}
	object "DefaultCombatRules" "sys:optional" {
		ref "Item" "eh:objects/quests/combat_rules"
	}
}