struct title="ExplorationSettings" singleton=true graph_inline=false {
	object "OutpostShip" "sys:optional" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/ship"
		}
	}
	object "TurretShip" "sys:optional" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/ship"
		}
	}
	object "InfectedPlanetFaction" "sys:optional" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/faction"
		}
	}
	object "HiveShipBuild" "sys:optional" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/ship_build"
		}
	}
	string "GasCloudDPS" default="MIN(level*2,500)" arguments="level" min=1 editor="eh:expression"
}