struct title="ExplorationSettings" {
	object "Id" "sys:ids/numeric" {
		const "Id" "eh:objects/settings/exploration_settings"
	}
	object "Data" "eh:objects/settings/exploration_settings_data" inline=true
}