struct singleton=true {
	object "OutpostShip" "sys:optional" {
		ref "Item" "eh:objects/ship"
	}
	object "TurretShip" "sys:optional" {
		ref "Item" "eh:objects/ship"
	}
	object "InfectedPlanetFaction" "sys:optional" {
		ref "Item" "eh:objects/faction"
	}
	object "HiveShipBuild" "sys:optional" {
		ref "Item" "eh:objects/ship_build"
	}
	string "GasCloudDPS" default="MIN(level*2,500)" arguments="level" min=1 editor="eh:expression"
}