struct title="GalaxySettingsData" singleton=true {
	object "AbandonedStarbaseFaction" "sys:optional" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/faction"
		}
	}
	list "StartingShipBuilds" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/ship_build"
		}
	}
	object "StartingInventory" "sys:optional" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/quests/loot"
		}
	}
	object "SupporterPackShip" "sys:optional" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/ship_build"
		}
	}
	object "DefaultStarbaseBuild" "sys:optional" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/ship_build"
		}
	}
	number "MaxEnemyShipsLevel" default=300 min=0 max=500 type="int"
	string "EnemyLevel" default="MIN(3*distance/5 - 5, MaxEnemyShipsLevel)" arguments="distance" min=0 max=500 editor="eh:expression"
	string "ShipMinSpawnDistance" default="IF(size == Destroyer, 5, size == Cruiser, 15, size == Battleship, 50, size == Titan, 100, 0)" arguments="size" min=0 max=1000 editor="eh:expression"
	object "CaptureStarbaseQuest" "sys:optional" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/quests/quest"
		}
	}
	object "SurvivalCombatRules" "sys:optional" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/quests/combat_rules"
		}
	}
	object "StarbaseCombatRules" "sys:optional" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/quests/combat_rules"
		}
	}
	object "FlagshipCombatRules" "sys:optional" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/quests/combat_rules"
		}
	}
	object "ArenaCombatRules" "sys:optional" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/quests/combat_rules"
		}
	}
	object "ChallengeCombatRules" "sys:optional" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/quests/combat_rules"
		}
	}
	object "QuickCombatRules" "sys:optional" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/quests/combat_rules"
		}
	}
}