struct singleton=true {
	list "MainMenuMusic"  {
		object "Item" "eh:objects/settings/sound_track"
	}
	list "GalaxyMapMusic"  {
		object "Item" "eh:objects/settings/sound_track"
	}
	list "CombatMusic"  {
		object "Item" "eh:objects/settings/sound_track"
	}
	list "ExplorationMusic"  {
		object "Item" "eh:objects/settings/sound_track"
	}
}