struct title="ShipModSettingsData" singleton=true {
	boolean "RemoveWeaponSlotMod"
	boolean "RemoveUnlimitedRespawnMod"
	boolean "RemoveEnergyRechargeCdMod"
	boolean "RemoveShieldRechargeCdMod"
	boolean "RemoveBiggerSatellitesMod"
	number "HeatDefenseValue" default=0.5 min=0 max=10
	number "KineticDefenseValue" default=0.5 min=0 max=10
	number "EnergyDefenseValue" default=0.5 min=0 max=10
	number "RegenerationValue" default=0.01 min=0 max=1
	number "RegenerationArmor" default=0.85 min=0 max=1
	number "WeightReduction" default=0.8 min=0 max=1
	number "AttackReduction" default=0.2 min=0 max=1
	number "EnergyReduction" default=0.5 min=0 max=1
	number "ShieldReduction" default=0.5 min=0 max=1
}