struct title="SkillSettings" singleton=true graph_inline=false {
	list "BeatAllEnemiesFactionList" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/faction"
		}
	}
	boolean "DisableExceedTheLimits"
	string "FuelTankCapacity" default="BaseFuelCapacity + 50*level" arguments="level" min=0 editor="eh:expression"
	string "AttackBonus" default="0.1*level" arguments="level" min=0 editor="eh:expression"
	string "DefenseBonus" default="0.1*level" arguments="level" min=0 editor="eh:expression"
	string "ShieldStrengthBonus" default="0.1*level" arguments="level" min=0 editor="eh:expression"
	string "ShieldRechargeBonus" default="0.1*level" arguments="level" min=0 editor="eh:expression"
	string "ExperienceBonus" default="0.1*level" arguments="level" min=0 editor="eh:expression"
	string "FlightSpeed" default="BaseFlightSpeed + 0.4*level" arguments="level" min=1 editor="eh:expression"
	string "FlightRange" default="BaseFlightRange + 0.09*level" arguments="level" min=1.5 editor="eh:expression"
	string "ExplorationLootBonus" default="0.1*level" arguments="level" min=0 editor="eh:expression"
	string "HeatResistance" default="0.1*level" arguments="level" min=0 max=1 editor="eh:expression"
	string "KineticResistance" default="0.1*level" arguments="level" min=0 max=1 editor="eh:expression"
	string "EnergyResistance" default="0.1*level" arguments="level" min=0 max=1 editor="eh:expression"
	string "MerchantPriceFactor" default="1 - 0.05*level" arguments="level" min=0 editor="eh:expression"
	string "CraftingPriceFactor" default="1 - 0.05*level" arguments="level" min=0 editor="eh:expression"
	string "CraftingLevelReduction" default="5*level" arguments="level" min=0 editor="eh:expression"
	number "MaxPlayerShipsLevel" default=100 min=0 max=500 type="int"
	number "IncreasedLevelLimit" default=200 min=0 max=1000 type="int"
	number "BaseFuelCapacity" default=100 min=10 type="int"
	number "BaseFlightRange" default=1.5 min=1.5
	number "BaseFlightSpeed" default=1 min=1
}