struct singleton=true {
	boolean "EnableXmasEvent" default=true
	number "XmasDaysBefore" default=24 min=0 max=30 type="int"
	number "XmasDaysAfter" default=15 min=0 max=30 type="int"
	object "XmasQuest" "sys:optional" {
		ref "Item" "eh:objects/quests/quest"
	}
	object "XmasCombatRules" "sys:optional" {
		ref "Item" "eh:objects/quests/combat_rules"
	}
	string "ConvertCreditsToSnowflakes" default="1 + credits/500" arguments="credits" min=1 editor="eh:expression"
	boolean "EnableEasterEvent" 
	number "EasterDaysBefore" min=0 max=30 type="int"
	number "EasterDaysAfter" min=0 max=30 type="int"
	object "EasterQuest" "sys:optional" {
		ref "Item" "eh:objects/quests/quest"
	}
	boolean "EnableHalloweenEvent" 
	number "HalloweenDaysBefore" min=0 max=30 type="int"
	number "HalloweenDaysAfter" min=0 max=30 type="int"
	object "HalloweenQuest" "sys:optional" {
		ref "Item" "eh:objects/quests/quest"
	}
}