struct title="SpecialEventSettings" {
	object "Id" "sys:ids/numeric" {
		const "Id" "eh:objects/settings/special_event_settings"
	}
	object "Data" "eh:objects/settings/special_event_settings_data" inline=true
}