struct title="UiSettingsData" singleton=true {
	object "WindowColor" default="#50C0FF" "color:argb"
	object "ScrollBarColor" default="#C050C0FF" "color:argb"
	object "IconColor" default="#80FFFF" "color:argb"
	object "SelectionColor" default="#80FFFF" "color:argb"
	object "ButtonColor" default="#50C0FF" "color:argb"
	object "ButtonFocusColor" default="#4050C0FF" "color:argb"
	object "ButtonTextColor" default="#80FFFF" "color:argb"
	object "ButtonIconColor" default="#E080FFFF" "color:argb"
	object "WarningButtonColor" default="#FF8050" "color:argb"
	object "WarningButtonFocusColor" default="#20FF8050" "color:argb"
	object "WarningButtonTextColor" default="#FFFFC0" "color:argb"
	object "WarningButtonIconColor" default="#FFFFC0" "color:argb"
	object "PremiumButtonColor" default="#FFFFC0" "color:argb"
	object "PremiumButtonFocusColor" default="#40FFFFC0" "color:argb"
	object "PremiumButtonTextColor" default="#FFFFE0" "color:argb"
	object "PremiumButtonIconColor" default="#FFFFC0" "color:argb"
	object "TextColor" default="#80FFFF" "color:argb"
	object "ErrorTextColor" default="#FF4040" "color:argb"
	object "HeaderTextColor" default="#FFFFC0" "color:argb"
	object "PaleTextColor" default="#A0FFFFFF" "color:argb"
	object "BrightTextColor" default="#FFFFFF" "color:argb"
	object "BackgroundDark" default="#000000" "color:argb"
	object "LowQualityItemColor" default="#C0C0C0" "color:argb"
	object "CommonQualityItemColor" default="#80FFFF" "color:argb"
	object "MediumQualityItemColor" default="#80FF80" "color:argb"
	object "HighQualityItemColor" default="#F09FFF" "color:argb"
	object "PerfectQualityItemColor" default="#FFDF51" "color:argb"
	object "AvailableTechColor" default="#FFFFC0" "color:argb"
	object "UnavailableTechColor" default="#808080" "color:argb"
	object "ObtainedTechColor" default="#50C0FF" "color:argb"
	object "HiddenTechColor" default="#8080FF" "color:argb"
	object "CreditsColor" default="#00FF00" "color:argb"
	object "StarsColor" default="#FFF0A0" "color:argb"
	object "MoneyColor" default="#FFF0A0" "color:argb"
	object "FuelColor" default="#00FFFF" "color:argb"
	object "TokensColor" default="#8080FF" "color:argb"
	string "MainMenuBackgroundImage" editor="eh:image"
	boolean "NoCreditsText"
}