struct title="CharacterData" graph_inline=false {
	string "Name"
	string "AvatarIcon" editor="eh:image"
	object "Faction" "sys:optional" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/faction"
		}
	}
	object "Inventory" "sys:optional" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/quests/loot"
		}
	}
	object "Fleet" "sys:optional" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/quests/fleet"
		}
	}
	number "Relations" min=-100 max=100 type="int"
	boolean "IsUnique"
}