struct title="FactionFilter" graph_inline=true {
	object "Type" "eh:enums/quests/faction_filter_type"
	list "List" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/faction"
		}
	}
}