struct {
	number "Id" min=1 max=999999 type="int"
	number "DefaultTransition" alias="Transition" min=1 max=999999 type="int"
	number "Value" description="Percentage value" min=0 max=100000 type="int"
}