enum tag="Type" {
	object "Undefined" "eh:objects/quests/node_undefined" tag=0
	object "ComingSoon" "eh:objects/quests/node_coming_soon" tag=1
	object "ShowDialog" "eh:objects/quests/node_show_dialog" tag=10
	object "OpenShipyard" "eh:objects/quests/node_open_shipyard" tag=11
	object "OpenWorkshop" "eh:objects/quests/node_open_workshop" tag=12
	object "Switch" "eh:objects/quests/node_switch" tag=15
	object "Random" "eh:objects/quests/node_random" tag=16
	object "Condition" "eh:objects/quests/node_condition" tag=17
	object "AttackFleet" "eh:objects/quests/node_attack_fleet" tag=20
	object "AttackOccupants" "eh:objects/quests/node_attack_occupants" tag=21
	object "AttackStarbase" "eh:objects/quests/node_attack_starbase" tag=22
	object "DestroyOccupants" "eh:objects/quests/node_destroy_occupants" tag=25
	object "SuppressOccupants" "eh:objects/quests/node_suppress_occupants" tag=26
	object "Retreat" "eh:objects/quests/node_retreat" tag=30
	object "ReceiveItem" "eh:objects/quests/node_receive_item" tag=35
	object "RemoveItem" "eh:objects/quests/node_remove_item" tag=36
	object "Trade" "eh:objects/quests/node_trade" tag=37
	object "CompleteQuest" "eh:objects/quests/node_complete_quest" tag=40
	object "FailQuest" "eh:objects/quests/node_fail_quest" tag=41
	object "CancelQuest" "eh:objects/quests/node_cancel_quest" tag=42
	object "StartQuest" "eh:objects/quests/node_start_quest" tag=43
	object "SetCharacterRelations" "eh:objects/quests/node_set_character_relations" tag=50
	object "SetFactionRelations" "eh:objects/quests/node_set_faction_relations" tag=51
	object "SetFactionStarbasePower" "eh:objects/quests/node_set_faction_starbase_power" tag=52
	object "ChangeCharacterRelations" "eh:objects/quests/node_change_character_relations" tag=55
	object "ChangeFactionRelations" "eh:objects/quests/node_change_faction_relations" tag=56
	object "ChangeFactionStarbasePower" "eh:objects/quests/node_change_faction_starbase_power" tag=57
	object "CaptureStarBase" "eh:objects/quests/node_capture_star_base" tag=60
	object "LiberateStarBase" "eh:objects/quests/node_liberate_star_base" tag=61
	object "ChangeFaction" "eh:objects/quests/node_change_faction" tag=62
}