struct title="NodeAttackFleet" graph_inline=true {
	number "Id" min=1 max=999999 type="int"
	number "DefaultTransition" alias="VictoryTransition" min=1 max=999999 type="int"
	number "FailureTransition" min=1 max=999999 type="int"
	object "Enemy" "sys:optional" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/quests/fleet"
		}
	}
	object "Loot" "sys:optional" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/quests/loot"
		}
	}
}