struct {
	number "Id" min=1 max=999999 type="int"
	number "DefaultTransition" alias="Transition" min=1 max=999999 type="int"
	object "Faction" "sys:optional" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/faction"
		}
	}
}