struct title="NodeSwitch" graph_inline=true {
	number "Id" min=1 max=999999 type="int"
	string "Message"
	number "DefaultTransition" min=0 max=999999 type="int"
	list "Transitions" {
		object "Item" "eh:objects/quests/node_transition"
	}
}