struct title="RequirementHaveQuestItem" graph_inline=true {
	object "ItemId" "sys:optional" alias="QuestItem" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/quests/quest_item"
		}
	}
	number "MinValue" alias="Amount" min=1 max=1000000 type="int"
}