struct title="RequirementPlayerPosition" graph_inline=true {
	number "MinValue" min=0 max=10000 type="int"
	number "MaxValue" min=0 max=10000 type="int"
	boolean "BoolValue" alias="AllowUnsafeStars"
}