enum tag="Type" {
	object "Success" "eh:objects/ai/behavior_tree_node_success" tag=0
	object "Failure" "eh:objects/ai/behavior_tree_node_failure" tag=9
	object "SubTree" "eh:objects/ai/behavior_tree_node_sub_tree" tag=1
	object "Selector" "eh:objects/ai/behavior_tree_node_selector" tag=2
	object "Sequence" "eh:objects/ai/behavior_tree_node_sequence" tag=3
	object "Parallel" "eh:objects/ai/behavior_tree_node_parallel" tag=4
	object "RandomSelector" "eh:objects/ai/behavior_tree_node_random_selector" tag=5
	object "Invertor" "eh:objects/ai/behavior_tree_node_invertor" tag=6
	object "Cooldown" "eh:objects/ai/behavior_tree_node_cooldown" tag=7
	object "Execute" "eh:objects/ai/behavior_tree_node_execute" tag=8
	object "ParallelSequence" "eh:objects/ai/behavior_tree_node_parallel_sequence" tag=10
	object "PreserveTarget" "eh:objects/ai/behavior_tree_node_preserve_target" tag=11
	object "IfThenElse" "eh:objects/ai/behavior_tree_node_if_then_else" tag=12
	object "HasEnoughEnergy" "eh:objects/ai/behavior_tree_node_has_enough_energy" tag=50
	object "IsLowOnHp" "eh:objects/ai/behavior_tree_node_is_low_on_hp" tag=51
	object "IsNotControledByPlayer" "eh:objects/ai/behavior_tree_node_is_not_controled_by_player" tag=52
	object "HasIncomingThreat" "eh:objects/ai/behavior_tree_node_has_incoming_threat" tag=53
	object "HasAdditionalTargets" "eh:objects/ai/behavior_tree_node_has_additional_targets" tag=54
	object "IsFasterThanTarget" "eh:objects/ai/behavior_tree_node_is_faster_than_target" tag=55
	object "HasMainTarget" "eh:objects/ai/behavior_tree_node_has_main_target" tag=56
	object "MainTargetIsAlly" "eh:objects/ai/behavior_tree_node_main_target_is_ally" tag=57
	object "MainTargetIsEnemy" "eh:objects/ai/behavior_tree_node_main_target_is_enemy" tag=58
	object "MainTargetLowHp" "eh:objects/ai/behavior_tree_node_main_target_low_hp" tag=59
	object "MainTargetWithinAttackRange" "eh:objects/ai/behavior_tree_node_main_target_within_attack_range" tag=60
	object "HasMothership" "eh:objects/ai/behavior_tree_node_has_mothership" tag=61
	object "TargetDistance" "eh:objects/ai/behavior_tree_node_target_distance" tag=62
	object "HasLongerAttackRange" "eh:objects/ai/behavior_tree_node_has_longer_attack_range" tag=63
	object "FindEnemy" "eh:objects/ai/behavior_tree_node_find_enemy" tag=100
	object "MoveToAttackRange" "eh:objects/ai/behavior_tree_node_move_to_attack_range" tag=101
	object "AttackMainTarget" "eh:objects/ai/behavior_tree_node_attack_main_target" tag=102
	object "SelectWeapon" "eh:objects/ai/behavior_tree_node_select_weapon" tag=103
	object "SpawnDrones" "eh:objects/ai/behavior_tree_node_spawn_drones" tag=104
	object "Ram" "eh:objects/ai/behavior_tree_node_ram" tag=105
	object "DetonateShip" "eh:objects/ai/behavior_tree_node_detonate_ship" tag=106
	object "Vanish" "eh:objects/ai/behavior_tree_node_vanish" tag=107
	object "MaintainAttackRange" "eh:objects/ai/behavior_tree_node_maintain_attack_range" tag=108
	object "Wait" "eh:objects/ai/behavior_tree_node_wait" tag=109
	object "LookAtTarget" "eh:objects/ai/behavior_tree_node_look_at_target" tag=110
	object "LookForAdditionalTargets" "eh:objects/ai/behavior_tree_node_look_for_additional_targets" tag=111
	object "LookForThreats" "eh:objects/ai/behavior_tree_node_look_for_threats" tag=112
	object "MatchVelocityWithTarget" "eh:objects/ai/behavior_tree_node_match_velocity_with_target" tag=113
	object "ActivateDevice" "eh:objects/ai/behavior_tree_node_activate_device" tag=114
	object "RechargeEnergy" "eh:objects/ai/behavior_tree_node_recharge_energy" tag=115
	object "SustainAim" "eh:objects/ai/behavior_tree_node_sustain_aim" tag=116
	object "ChargeWeapons" "eh:objects/ai/behavior_tree_node_charge_weapons" tag=117
	object "Chase" "eh:objects/ai/behavior_tree_node_chase" tag=118
	object "AvoidThreats" "eh:objects/ai/behavior_tree_node_avoid_threats" tag=119
	object "SlowDown" "eh:objects/ai/behavior_tree_node_slow_down" tag=120
	object "UseRecoil" "eh:objects/ai/behavior_tree_node_use_recoil" tag=121
	object "DefendWithFronalShield" "eh:objects/ai/behavior_tree_node_defend_with_fronal_shield" tag=122
	object "TrackControllableAmmo" "eh:objects/ai/behavior_tree_node_track_controllable_ammo" tag=123
	object "KeepDistance" "eh:objects/ai/behavior_tree_node_keep_distance" tag=124
	object "ForgetMainTarget" "eh:objects/ai/behavior_tree_node_forget_main_target" tag=125
	object "EscapeTargetAttackRadius" "eh:objects/ai/behavior_tree_node_escape_target_attack_radius" tag=126
	object "AttackAdditionalTargets" "eh:objects/ai/behavior_tree_node_attack_additional_targets" tag=127
	object "TargetAllyStarbase" "eh:objects/ai/behavior_tree_node_target_ally_starbase" tag=128
	object "TargetEnemyStarbase" "eh:objects/ai/behavior_tree_node_target_enemy_starbase" tag=129
	object "BypassObstacles" "eh:objects/ai/behavior_tree_node_bypass_obstacles" tag=130
	object "AttackTurretTargets" "eh:objects/ai/behavior_tree_node_attack_turret_targets" tag=131
	object "HoldHarpoon" "eh:objects/ai/behavior_tree_node_hold_harpoon" tag=132
	object "FindDamagedAlly" "eh:objects/ai/behavior_tree_node_find_damaged_ally" tag=133
	object "EnginePropulsionForce" "eh:objects/ai/behavior_tree_node_engine_propulsion_force" tag=150
	object "MotherShipRetreated" "eh:objects/ai/behavior_tree_node_mother_ship_retreated" tag=200
	object "MotherShipDestroyed" "eh:objects/ai/behavior_tree_node_mother_ship_destroyed" tag=201
	object "FlyAroundMothership" "eh:objects/ai/behavior_tree_node_fly_around_mothership" tag=202
	object "GoBerserk" "eh:objects/ai/behavior_tree_node_go_berserk" tag=203
	object "TargetMothership" "eh:objects/ai/behavior_tree_node_target_mothership" tag=204
	object "MothershipLowHp" "eh:objects/ai/behavior_tree_node_mothership_low_hp" tag=205
	object "MothershipDistanceExceeded" "eh:objects/ai/behavior_tree_node_mothership_distance_exceeded" tag=206
	object "MakeTargetMothership" "eh:objects/ai/behavior_tree_node_make_target_mothership" tag=207
	object "MothershipLowEnergy" "eh:objects/ai/behavior_tree_node_mothership_low_energy" tag=208
	object "MothershipLowShield" "eh:objects/ai/behavior_tree_node_mothership_low_shield" tag=209
	object "ShowMessage" "eh:objects/ai/behavior_tree_node_show_message" tag=300
	object "DebugLog" "eh:objects/ai/behavior_tree_node_debug_log" tag=301
	object "SetValue" "eh:objects/ai/behavior_tree_node_set_value" tag=302
	object "GetValue" "eh:objects/ai/behavior_tree_node_get_value" tag=303
	object "SendMessage" "eh:objects/ai/behavior_tree_node_send_message" tag=304
	object "MessageReceived" "eh:objects/ai/behavior_tree_node_message_received" tag=305
	object "TargetMessageSender" "eh:objects/ai/behavior_tree_node_target_message_sender" tag=306
	object "SaveTarget" "eh:objects/ai/behavior_tree_node_save_target" tag=307
	object "LoadTarget" "eh:objects/ai/behavior_tree_node_load_target" tag=308
	object "HasSavedTarget" "eh:objects/ai/behavior_tree_node_has_saved_target" tag=309
	object "ForgetSavedTarget" "eh:objects/ai/behavior_tree_node_forget_saved_target" tag=310
}