struct title="BehaviorTreeNodeRechargeEnergy" graph_inline=true {
	object "Requirement" "eh:objects/ai/behavior_node_requirement" description="The node will not execute and will return FAILURE if the requirement is not met"
	number "MinValue" alias="FailIfLess" default=0.1 min=0 max=1
	number "MaxValue" alias="RestoreUntil" default=0.9 min=0 max=1
}