struct title="BulletControllerParametric" graph_inline=true {
	string "X" default="0" arguments="t" editor="eh:expression"
	string "Y" default="0" arguments="t" editor="eh:expression"
	string "Rotation" default="0" arguments="t" editor="eh:expression"
	string "Size" default="1" arguments="t" editor="eh:expression"
	string "Length" default="1" arguments="t" editor="eh:expression"
}