struct {
	object "WeaponClass" "eh:enums/weapon/weapon_class"
	number "FireRate" min=0 max=100
	number "Spread" min=0 max=360
	number "Magazine" min=0 max=1000000000 type="int"
	object "ActivationType" "eh:enums/activation_type"
	string "ShotSound" editor="eh:audioclip"
	string "ChargeSound" editor="eh:audioclip"
	string "ShotEffectPrefab" editor="eh:prefab"
	object "VisualEffect" "sys:optional" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/weapon/visual_effect"
		}
	}
	number "EffectSize" min=0 max=100
	string "ControlButtonIcon" editor="eh:image"
}