enum title="AmmunitionClassObsolete" {
	const "Common" 0
	const "Acid" 1
	const "Aura" 2
	const "Carrier" 3
	const "Bomb" 4
	const "DamageOverTime" 5
	const "DroneControl" 6
	const "Emp" 7
	const "EmpMissile" 8
	const "EnergyBeam" 9
	const "EnergySiphon" 10
	const "Explosion" 11
	const "Fireworks" 12
	const "FragBomb" 13
	const "Fragment" 14
	const "HomingImmobilizer" 15
	const "HomingTorpedo" 16
	const "Immobilizer" 17
	const "LaserBeam" 18
	const "Rocket" 19
	const "Singularity" 20
	const "TractorBeam" 21
	const "VampiricRay" 22
	const "SmallVampiricRay" 23
	const "RepairRay" 24
	const "PlasmaWeb" 25
	const "UnguidedRocket" 26
	const "IonBeam" 27
	const "AcidRocket" 28
	const "BlackHole" 29
	const "ClusterMissile" 30
	const "HomingCarrier" 31
}