enum {
	const "Undefined" 0
	const "ComingSoon" 1
	const "ShowDialog" 10
	const "OpenShipyard" 11
	const "OpenWorkshop" 12
	const "Switch" 15
	const "Random" 16
	const "Condition" 17
	const "AttackFleet" 20
	const "AttackOccupants" 21
	const "AttackStarbase" 22
	const "DestroyOccupants" 25
	const "SuppressOccupants" 26
	const "Retreat" 30
	const "ReceiveItem" 35
	const "RemoveItem" 36
	const "Trade" 37
	const "CompleteQuest" 40
	const "FailQuest" 41
	const "CancelQuest" 42
	const "StartQuest" 43
	const "SetCharacterRelations" 50
	const "SetFactionRelations" 51
	const "SetFactionStarbasePower" 52
	const "ChangeCharacterRelations" 55
	const "ChangeFactionRelations" 56
	const "ChangeFactionStarbasePower" 57
	const "CaptureStarBase" 60
	const "LiberateStarBase" 61
	const "ChangeFaction" 62
}