enum title="BehaviorNodeType" {
	const "Success" 0
	const "Failure" 9
	const "SubTree" 1
	const "Selector" 2
	const "Sequence" 3
	const "Parallel" 4
	const "RandomSelector" 5
	const "Invertor" 6
	const "Cooldown" 7
	const "Execute" 8
	const "ParallelSequence" 10
	const "PreserveTarget" 11
	const "IfThenElse" 12
	const "HasEnoughEnergy" 50
	const "IsLowOnHp" 51
	const "IsNotControledByPlayer" 52
	const "HasIncomingThreat" 53
	const "HasAdditionalTargets" 54
	const "IsFasterThanTarget" 55
	const "HasMainTarget" 56
	const "MainTargetIsAlly" 57
	const "MainTargetIsEnemy" 58
	const "MainTargetLowHp" 59
	const "MainTargetWithinAttackRange" 60
	const "HasMothership" 61
	const "TargetDistance" 62
	const "HasLongerAttackRange" 63
	const "FindEnemy" 100
	const "MoveToAttackRange" 101
	const "AttackMainTarget" 102
	const "SelectWeapon" 103
	const "SpawnDrones" 104
	const "Ram" 105
	const "DetonateShip" 106
	const "Vanish" 107
	const "MaintainAttackRange" 108
	const "Wait" 109
	const "LookAtTarget" 110
	const "LookForAdditionalTargets" 111
	const "LookForThreats" 112
	const "MatchVelocityWithTarget" 113
	const "ActivateDevice" 114
	const "RechargeEnergy" 115
	const "SustainAim" 116
	const "ChargeWeapons" 117
	const "Chase" 118
	const "AvoidThreats" 119
	const "SlowDown" 120
	const "UseRecoil" 121
	const "DefendWithFronalShield" 122
	const "TrackControllableAmmo" 123
	const "KeepDistance" 124
	const "ForgetMainTarget" 125
	const "EscapeTargetAttackRadius" 126
	const "AttackAdditionalTargets" 127
	const "TargetAllyStarbase" 128
	const "TargetEnemyStarbase" 129
	const "BypassObstacles" 130
	const "AttackTurretTargets" 131
	const "HoldHarpoon" 132
	const "FindDamagedAlly" 133
	const "EnginePropulsionForce" 150
	const "MotherShipRetreated" 200
	const "MotherShipDestroyed" 201
	const "FlyAroundMothership" 202
	const "GoBerserk" 203
	const "TargetMothership" 204
	const "MothershipLowHp" 205
	const "MothershipDistanceExceeded" 206
	const "MakeTargetMothership" 207
	const "MothershipLowEnergy" 208
	const "MothershipLowShield" 209
	const "ShowMessage" 300
	const "DebugLog" 301
	const "SetValue" 302
	const "GetValue" 303
	const "SendMessage" 304
	const "MessageReceived" 305
	const "TargetMessageSender" 306
	const "SaveTarget" 307
	const "LoadTarget" 308
	const "HasSavedTarget" 309
	const "ForgetSavedTarget" 310
}