struct title="NodeAttackOccupants" {
	number "Id" min=1 max=999999 type="int"
	number "DefaultTransition" alias="VictoryTransition" min=1 max=999999 type="int"
	number "FailureTransition" min=1 max=999999 type="int"
}