//[
//  {
//    "name": "Common",
//    "type": "0",
//  },
//  {
//    "name": "AutoTarget",
//    "type": "1",
//  },
//  {
//    "name": "AutoTargetFrontal",
//    "type": "2",
//  },
//  {
//    "name": "TargetingUnit",
//    "type": "3",
//  }
//]
enum {
  const "common" 0
  const "auto_target" 1
  const "auto_target_frontal" 2
  const "targeting_unit" 3
}