struct {
    const "ItemType" default=14
    string "Name"
    string "Color" editor="colorRGBA"
    number "HomeStarDistance" min=0 max=1000 editor="int"
    number "WanderingShipsDistance" min=0 max=1000 editor="int"
    boolean "Hidden"
    boolean "Hostile"
}