enum tag="ItemType" {
//    const "Undefined" null tag=0
    object "Component" "eh:objects/component" tag=1
    object "Device" "eh:objects/device" tag=2
    object "Weapon" "eh:objects/weapon/weapon" tag=3
    object "AmmunitionObsolete" "eh:objects/ammunition_obsolete" tag=4
    object "DroneBay" "eh:objects/drone_bay" tag=5
    object "Ship" "eh:objects/ship" tag=6
    object "Satellite" "eh:objects/satellite" tag=7
    object "ShipBuild" "eh:objects/ship_build" tag=8
    object "SatelliteBuild" "eh:objects/satellite_build" tag=9
    object "Technology" "eh:objects/technology" tag=10
    object "ComponentStats" "eh:objects/component_stats" tag=11
    object "ComponentMod" "eh:objects/component_mod" tag=12
//    object "Skill" "eh:objects/skill" tag=13
    object "Faction" "eh:objects/faction" tag=14
    object "Quest" "eh:objects/quests/quest" tag=15
    object "Loot" "eh:objects/quests/loot" tag=16
    object "Fleet" "eh:objects/quests/fleet" tag=18
    object "Character" "eh:objects/quests/character" tag=19
    object "QuestItem" "eh:objects/quests/quest_item" tag=20
    object "Ammunition" "eh:objects/weapon/ammunition" tag=25
    object "VisualEffect" "eh:objects/weapon/visual_effect" tag=26
    object "BulletPrefab" "eh:objects/weapon/bullet_perfab" tag=27
    object "BehaviorTree" "eh:objects/ai/behavior_tree" tag=28
    object "GameObjectPrefab" "eh:objects/game_object_prefab" tag=29
    object "CombatRules" "eh:objects/quests/combat_rules" tag=30
    object "ComponentStatUpgrade" "eh:objects/component_stat_upgrade" tag=31
    object "StatUpgradeTemplate" "eh:objects/stat_upgrade_template" tag=32
//    object "FrontierLevel" "eh:objects/frontier_level" tag=33
//    object "FrontierCommonLevel" "eh:objects/frontier_common_level" tag=34
    object "ShipSettings" "eh:objects/settings/ship_settings" tag=100
    object "GalaxySettings" "eh:objects/settings/galaxy_settings" tag=101
    object "DatabaseSettings" "eh:objects/settings/database_settings" tag=102
    object "ExplorationSettings" "eh:objects/settings/exploration_settings" tag=103
//    object "FrontierSettings" "eh:objects/settings/frontier_settings" tag=104
    object "ShipModSettings" "eh:objects/settings/ship_mod_settings" tag=105
    object "SpecialEventSettings" "eh:objects/settings/special_event_settings" tag=106
    object "SkillSettings" "eh:objects/settings/skill_settings" tag=107
    object "DebugSettings" "eh:objects/settings/debug_settings" tag=108
    object "CombatSettings" "eh:objects/settings/combat_settings" tag=109
    object "UiSettings" "eh:objects/settings/ui_settings" tag=110
    object "FactionsSettings" "eh:objects/settings/factions_settings" tag=111
    object "MusicPlaylist" "eh:objects/settings/music_playlist" tag=112
//    object "ResearchSetting" "eh:objects/settings/research_setting" tag=113
//    object "PvpSettings" "eh:objects/settings/pvp_settings" tag=114
//    object "FrontierNpcSettings" "eh:objects/settings/frontier_npc_settings" tag=115
//    object "FrontierLevelSettings" "eh:objects/settings/frontier_level_settings" tag=116
    object "LocalizationSettings" "eh:objects/settings/localization_settings" tag=117
}