enum {
	const "Undefined" 0
	const "Component" 1
	const "Device" 2
	const "Weapon" 3
	const "AmmunitionObsolete" 4
	const "DroneBay" 5
	const "Ship" 6
	const "Satellite" 7
	const "ShipBuild" 8
	const "SatelliteBuild" 9
	const "Technology" 10
	const "ComponentStats" 11
	const "ComponentMod" 12
	const "Skill" 13
	const "Faction" 14
	const "Quest" 15
	const "Loot" 16
	const "Fleet" 18
	const "Character" 19
	const "QuestItem" 20
	const "Ammunition" 25
	const "VisualEffect" 26
	const "BulletPrefab" 27
	const "BehaviorTree" 28
	const "GameObjectPrefab" 29
	const "CombatRules" 30
	const "ComponentStatUpgrade" 31
	const "StatUpgradeTemplate" 32
	const "FrontierLevel" 33
	const "FrontierCommonLevel" 34
	const "ShipSettings" 100
	const "GalaxySettings" 101
	const "DatabaseSettings" 102
	const "ExplorationSettings" 103
	const "FrontierSettings" 104
	const "ShipModSettings" 105
	const "SpecialEventSettings" 106
	const "SkillSettings" 107
	const "DebugSettings" 108
	const "CombatSettings" 109
	const "UiSettings" 110
	const "FactionsSettings" 111
	const "MusicPlaylist" 112
	const "ResearchSetting" 113
	const "PvpSettings" 114
	const "FrontierNpcSettings" 115
	const "FrontierLevelSettings" 116
	const "LocalizationSettings" 117
}