enum title="StatModificationType" {
	const "None" 0
	const "WeaponDamage" 1
	const "WeaponRange" 2
	const "WeaponFireRate" 3
	const "WeaponBulletSpeed" 4
	const "WeaponBulletMass" 5
	const "WeaponAoe" 6
	const "DroneAttack" 10
	const "DroneDefense" 11
	const "DroneSpeed" 12
	const "DroneRange" 13
	const "EnergyCapacity" 20
	const "EnergyRechargeRate" 21
	const "ShieldPoints" 22
	const "ShieldRechargeRate" 23
	const "ArmorPoints" 24
	const "ArmorRepairRate" 25
	const "Resistance" 30
	const "DeviceCooldown" 40
	const "DeviceRange" 41
	const "DevicePower" 42
	const "EnginePower" 50
	const "EngineTurnRate" 51
	const "Mass" 60
	const "EnergyCost" 61
	const "ExtraHitPoints" 62
}