struct {
	object "Position" "sys:vec2"
	number "Rotation" min=-360 max=360
	number "Offset" min=0 max=1
	number "PlatformType" type="int"
	number "AutoAimingArc" min=0 max=360
	number "RotationSpeed" min=0 max=1000
	string "WeaponClass"
	string "Image" editor="eh:image"
	number "Size" min=0 max=100
}