struct title="ComponentStatsData" {
	object "Type" "eh:enums/component_stats_type"
	number "ArmorPoints" min=-1000000 max=1000000
	number "ArmorRepairRate" min=-1000000 max=1000000
	number "ArmorRepairCooldownModifier" min=-1 max=1
	number "EnergyPoints" min=-1000000 max=1000000
	number "EnergyRechargeRate" min=-1000000 max=1000000
	number "EnergyRechargeCooldownModifier" min=-5 max=5
	number "ShieldPoints" min=-1000000 max=1000000
	number "ShieldRechargeRate" min=-1000000 max=1000000
	number "ShieldRechargeCooldownModifier" min=-5 max=5
	number "Weight" min=-1000000 max=1000000
	number "RammingDamage" min=-1000000 max=1000000
	number "EnergyAbsorption" min=-1000000 max=1000000
	number "KineticResistance" min=-1000000 max=1000000
	number "EnergyResistance" min=-1000000 max=1000000
	number "ThermalResistance" min=-1000000 max=1000000
	number "EnginePower" min=0 max=2000
	number "TurnRate" min=0 max=2000
	boolean "Autopilot"
	number "DroneRangeModifier" min=-50 max=50
	number "DroneDamageModifier" min=-50 max=50
	number "DroneDefenseModifier" min=-50 max=50
	number "DroneSpeedModifier" min=-50 max=50
	number "DronesBuiltPerSecond" min=0 max=100
	number "DroneBuildTimeModifier" min=0 max=100
	number "WeaponFireRateModifier" min=-100 max=100
	number "WeaponDamageModifier" min=-100 max=100
	number "WeaponRangeModifier" min=-100 max=100
	number "WeaponEnergyCostModifier" min=-100 max=100
	number "AlterWeaponPlatform" type="int"
	number "AutoAimingArc" min=0 max=360
	number "TurretTurnSpeed" min=-1000 max=1000
}