struct title="ComponentRestrictions" graph_inline=true {
	list "ShipSizes" editor="enum_flags" {
		object "Item" "eh:enums/size_class"
	}
	boolean "NotForOrganicShips"
	boolean "NotForMechanicShips"
	number "MaxComponentAmount" min=0 type="int"
	object "ComponentGroupTag" "sys:optional" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/component_group_tag"
		}
	}
}