struct {
	string "Name"
	string "Description"
	object "DisplayCategory" "eh:enums/component_category"
	object "Availability" "eh:enums/availability"
	object "ComponentStatsId" "sys:ids/numeric_ref" alias="Stats" typeid="eh:objects/component_stats" {
		const "Id" "eh:objects/component_stats"
	}
	object "Faction" "sys:optional" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/faction"
		}
	}
	number "Level" min=0 type="int"
	string "Icon" editor="eh:image"
	object "Color" "color:argb"
	string "Layout" editor="eh:layout"
	string "CellType"
	object "DeviceId" "sys:optional" alias="Device" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/device"
		}
	}
	object "WeaponId" "sys:optional" alias="Weapon" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/weapon/weapon"
		}
	}
	object "AmmunitionId" "sys:optional" alias="Ammunition" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/weapon/ammunition"
		}
	}
	object "AmmunitionId" "sys:optional" alias="AmmunitionObsolete" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/ammunition_obsolete"
		}
	}
	string "WeaponSlotType"
	object "DroneBayId" "sys:optional" alias="DroneBay" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/drone_bay"
		}
	}
	object "DroneId" "sys:optional" alias="Drone" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/ship_build"
		}
	}
	object "Restrictions" "eh:objects/component_restrictions"
	list "PossibleModifications" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/component_mod"
		}
	}
}