struct title="DeviceData" {
	object "DeviceClass" "eh:enums/device_class"
	number "EnergyConsumption" min=0 max=1000000000
	number "PassiveEnergyConsumption" min=0 max=1000000000
	boolean "ScaleEnergyWithShipSize" default=true
	number "Power" min=0 max=1000
	number "Range" min=0 max=1000
	number "Size" min=0 max=1000
	number "Cooldown" min=0 max=1000
	number "Lifetime" min=0 max=1000
	object "Offset" "sys:vec2"
	object "ActivationType" "eh:enums/activation_type"
	object "Color" default="#FFFFFFFF" "color:argb"
	string "Sound" editor="eh:audioclip"
	string "EffectPrefab" editor="eh:prefab"
	object "VisualEffect" "sys:optional" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/weapon/visual_effect"
		}
	}
	string "ObjectPrefab" editor="eh:prefab"
	object "Prefab" "sys:optional" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/game_object_prefab"
		}
	}
	string "ControlButtonIcon" editor="eh:image"
}