struct title="FactionData" {
	string "Name"
	object "Color" "color:argb"
	boolean "NoTerritories"
	number "HomeStarDistance" min=0 max=5000 type="int"
	number "HomeStarDistanceMax" min=0 max=5000 type="int"
	boolean "NoWanderingShips"
	number "WanderingShipsDistance" min=0 max=5000 type="int"
	number "WanderingShipsDistanceMax" min=0 max=5000 type="int"
	boolean "HideFromMerchants"
	boolean "HideResearchTree"
	boolean "NoMissions"
	boolean "Hidden"
	boolean "Hostile"
}