struct title="InstalledComponent" {
	object "ComponentId" "sys:ids/numeric_ref" alias="Component" typeid="eh:objects/component" {
		const "Id" "eh:objects/component"
	}
	object "Modification" "sys:optional" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/component_mod"
		}
	}
	object "Quality" "eh:enums/modification_quality"
	number "X" min=-32768 max=32767 type="int"
	number "Y" min=-32768 max=32767 type="int"
	number "BarrelId" min=0 max=255 type="int"
	number "Behaviour" min=0 max=10 type="int"
	number "KeyBinding" min=-10 max=10 type="int"
}