struct title="SatelliteBuildData" graph_inline=false {
	object "SatelliteId" "sys:ids/numeric_ref" alias="Satellite" typeid="eh:objects/satellite" {
		const "Id" "eh:objects/satellite"
	}
	boolean "NotAvailableInGame"
	object "DifficultyClass" "eh:enums/difficulty_class"
	list "Components" {
		object "Item" "eh:objects/installed_component"
	}
}