struct title="ShipBuildData" {
	object "ShipId" "sys:ids/numeric_ref" alias="Ship" typeid="eh:objects/ship" {
		const "Id" "eh:objects/ship"
	}
	boolean "AvailableForPlayer" default=true
	boolean "AvailableForEnemy" default=true
	object "DifficultyClass" "eh:enums/difficulty_class"
	object "BuildFaction" "sys:optional" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/faction"
		}
	}
	object "CustomAI" "sys:optional" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/ai/behavior_tree"
		}
	}
	list "Components" {
		object "Item" "eh:objects/installed_component"
	}
	object "Perks" "eh:objects/ship_build_perks"
	boolean "ExtendedLayout"
	boolean "RandomColor"
	object "LeftSatelliteBuild" "sys:optional" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/satellite_build"
		}
	}
	object "RightSatelliteBuild" "sys:optional" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/satellite_build"
		}
	}
}