struct {
	ref "ItemId" "eh:objects/component" alias="Component"
	object "Faction" "sys:optional" {
		ref "Item" "eh:objects/faction"
	}
	number "Price" min=0 max=10000 type="int"
	boolean "Hidden" 
	boolean "Special" 
	list "Dependencies"  {
		ref "Item" "eh:objects/technology"
	}
	number "CustomCraftingLevel" min=0 type="int"
}