struct title="TechnologyDataSatellite" {
	object "ItemId" "sys:ids/numeric_ref" alias="Satellite" typeid="eh:objects/satellite" {
		const "Id" "eh:objects/satellite"
	}
	object "Faction" "sys:optional" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/faction"
		}
	}
	number "Price" min=0 max=10000 type="int"
	boolean "Hidden"
	boolean "Special"
	list "Dependencies" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/technology"
		}
	}
	number "CustomCraftingLevel" min=0 type="int"
}