struct title="TechnologyDataComponent" graph_inline=false {
	object "ItemId" "sys:ids/numeric_ref" alias="Component" typeid="eh:objects/component" {
		const "Id" "eh:objects/component"
	}
	object "Faction" "sys:optional" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/faction"
		}
	}
	number "Price" min=0 max=10000 type="int"
	boolean "Hidden"
	boolean "Special"
	boolean "DoesnPreventUnlocking" description="If this flag is set, locked components on ships can be unlocked even if the technology has not yet been researched."
	list "Dependencies" {
		object "Item" "sys:ids/numeric_ref" {
			const "Id" "eh:objects/technology"
		}
	}
	number "CustomCraftingLevel" min=0 type="int"
}